{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.smartphone.header.edit'|trans({'%name%': smartphone.name})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(smartphone, 'list') }}
{{ admin_resource_btn(smartphone, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_demo_smartphone_admin_edit', identifiers|merge({'smartphoneId': smartphone.id})) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaDemoBundle:Smartphone/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    {% stylesheets output='css/characteristics.css' filter='cssrewrite, ?yui_css'
        '@EkynaCharacteristicsBundle/Resources/public/css/characteristics.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {%- endstylesheets %}
{% endblock stylesheets %}