{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.brand.header.edit'|trans({'%name%': brand.title})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(brand, 'list') }}
{{ admin_resource_btn(brand, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_demo_brand_admin_edit', {'brandId': brand.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaDemoBundle:Brand/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}