{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.brand.header.remove'|trans({'%name%': brand.title})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(brand, 'list') }}
{{ admin_resource_btn(brand, 'new') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_demo_brand_admin_remove', {'brandId': brand.id}) }}" method="post" class="form-horizontal">
    <div class="form-body">
	    {{ bootstrap_set_style('horizontal') }}
		{{ form_widget(form) }}
    </div>
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}