{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.category.header.new'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_demo.category', 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_demo_category_admin_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaDemoBundle:Category/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}