{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.smartphoneVariant.header.new'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ ui_button('ekyna_core.button.back', {'type': 'link', 'path': path('ekyna_demo_smartphone_admin_show', identifiers)}) }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_demo_smartphoneVariant_admin_new', identifiers) }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaDemoBundle:SmartphoneVariant/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}