{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_demo.tag.header.new'|trans|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn('ekyna_demo.tag', 'list') }}
{% endblock %}

{% block main %}
<form action="{{ path('ekyna_demo_tag_admin_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include "EkynaDemoBundle:Tag/Admin:_form.html.twig" %}
    {{ ui_form_footer(form) }}
</form>
{% endblock %}

{% block side %}
{% endblock %}